html {
    font-family: Arial, sans-serif;
    max-width: 500px;
    margin: auto;
    color: #666;
  }
  
  form {
    padding: 15px;
    border: 1px solid #666;
    background: #fff;
    display: none;
  }
  
  #formButton {
    display: block;
    margin-right: auto;
    margin-left: auto;
  }